* {
  margin: 0;
}

:root {
  --cell-size: 100px;
}

.title {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

h1 {
  margin-bottom: 20px;
}

input {
  border-radius: 10px;
  padding-left: 5px;
}

.text-display {
  margin-top: 20px;
  font-size: 1.5rem;
}

#start-btn {
  margin-top: 10px;
  right: 330px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
#start-btn:hover {
  border-color: white;
  color: white;
  background-color: black;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 80dvh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.winning-screen {
  font-size: 2rem;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(218, 22, 22, 0.9);
  justify-content: center;
  align-items: center;
}

#restart {
  background-color: white;
  border-radius: 10px;
  padding: 5 10px;
  margin-top: 20px;
}

.cell {
  display: flex;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:nth-last-child(1n + 7) {
  border-top: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(1n + 7) {
  border-bottom: none;
}

.game-board.x .cell:not(.o):not(.x):hover::before,
.game-board.x .cell:not(.o):not(.x):hover::after,
.cell.x::before,
.cell.x::after {
  content: "";
  height: calc(var(--cell-size) * 0.9);
  width: calc(var(--cell-size) * 0.1);
  background-color: lightgray;
  position: absolute;
}

.game-board.x .cell:not(.o):not(.x):hover::before,
.cell.x::before {
  transform: rotate(45deg);
}
.game-board.x .cell:not(.o):not(.x):hover::after,
.cell.x::after {
  transform: rotate(-45deg);
}
.game-board.o .cell:not(.o):not(.x):hover::before,
.cell.o::before {
  content: "";
  height: calc(var(--cell-size) * 0.6);
  width: calc(var(--cell-size) * 0.6);
  border: 10px solid lightgray;
  border-radius: 50%;
}

.cell.x::before,
.cell.x::after {
  background-color: black;
}
.cell.o::before {
  border-color: black;
}

.container {
  display: flex;
  gap: 50px;
}

.left {
  margin-top: 10px;
}

.right {
  display: none;
}
