* {
  margin: 0;
}

.title {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  position: relative;
}

h1 {
  margin-bottom: 20px;
}

input {
  border-radius: 10px;
  padding-left: 5px;
}
#start-btn {
  margin-top: 10px;
  position: absolute;
  right: 330px;
  background-color: white;
  border-radius: 10px;
}
#start-btn:hover {
  border-color: white;
  color: white;
  background-color: black;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.winning-screen {
  display: none;
}

.cell {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.cell:nth-last-child(1n + 7) {
  border-top: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(1n + 7) {
  border-bottom: none;
}
